doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    title #{title}
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/5.5.3/css/foundation.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script.
      window.$ = window.jQuery = require('jquery');
    //- link(href='/css/style.css', rel='stylesheet')
    style.
      html, body {
        height: 100%;
        background: #262c31;
        font-family: Roboto;
      }
      h3 {
        font-weight: 400;
        color: white;
      }
      p {
        color: white;
      }
      .main {
        height: 100%;
        width: 100%;
        display: table;
      }
      .wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
      #login {
        width: 30%;
      }
      @media all and (max-width:800px) {
        #login {
          width: 90%;
        }
      }
  body
    .main
      .wrapper
        #login.row(style='margin: auto')
          .large-12.columns.text-center
            block content
              h3 Finished Processing!
              p You can now check the file.
              a(href='/search' class='button')#search-back Go Back to Search

  //- script(src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation.min.js')
  //- script(src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation/foundation.tooltip.js')
  //- script(src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation/foundation.alert.js')
  script.
    //- Foundation.utils.S(document).foundation();
    (function(window, $) {
      $.noConflict(true);
      $(document).ready(function() {
        $('#search-back').click(function(event) {
          event.preventDefault();
          var remote = require('remote');
          var win = remote.getCurrentWindow();
          win.loadURL('file://' + __dirname + '/search.jade');
        });
      });
    })(window, jQuery);
