doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    title #{title}
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/foundation/5.5.3/css/foundation.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script.
      window.$ = window.jQuery = require('jquery');
    //- link(href='/css/style.css', rel='stylesheet')
    style.
      html, body {
        height: 100%;
        background: #262c31;
        font-family: Roboto;
      }
      h3 {
        font-weight: 400;
        color: white;
      }
      .main {
        height: 100%;
        width: 100%;
        display: table;
      }
      .wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }
      #login {
        width: 30%;
      }
      @media all and (max-width:800px) {
        #login {
          width: 90%;
        }
      }
  body
    .main
      .wrapper
        #login.row(style='margin: auto')
          .large-12.columns.text-center
            block content
              h3 STRATA
              form(action='/search', method='post')
                .row.collapse.postfix-radius
                  .small-9.columns
                    input(name='location', type='text', placeholder='Strathfield, NSW 2135')
                  .small-3.columns
                    button.button.postfix(type='submit')#search-submit Search
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js')
  //- script(src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation.min.js')
  //- script(src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation/foundation.tooltip.js')
  //- script(src='https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation/foundation.alert.js')
  script.
    //- Foundation.utils.S(document).foundation();
    (function(window, $) {
      $.noConflict(true);
      var strata = require( __dirname + '/../crawl/rea/strata');
      $(document).ready(function() {
        $('#search-submit').click(function(event) {
          event.preventDefault();
          $.blockUI({
            css: {
              border: 'none',
              padding: '5px',
              backgroundColor: '#fff',
              '-webkit-border-radius': '10px',
              '-moz-border-radius': '10px',
              opacity: .8,
              color: '#000'
            }
          });

          var propertyUrls = [];
          var promises = [];
          var remote = require('remote');
          var osenv = require('osenv');
          var Bluebird = require('bluebird');
          extractPromisify = Bluebird.promisify(strata.extract);
          extractPagesPromisify = Bluebird.promisify(strata.extractListingPages);
          extractListingsPromisify = Bluebird.promisify(strata.extractListings);
          var location = $('input[name=location]').val();
          var win = remote.getCurrentWindow();
          var extractLen = 0;

          var outputFilePath;
          if (osenv.home().indexOf('/') >= 0) {
            outputFilePath = '/output.csv';
          } else {
            outputFilePath = '\\output.csv';
          }
          remote.dialog.showSaveDialog(win, { defaultPath: osenv.home() + outputFilePath }, function(filePath) {
            extractPagesPromisify(location, 'buy')
            .then(function(numPages) {
              for (var i = 1; i <= numPages + 1; i++) {
                promises.push(extractListingsPromisify(i, location, 'buy'));
              }

              return Bluebird.all(promises.map(function(promise) {
                return promise.reflect();
              }))
              .each(function(inspection) {
                if (inspection.isFulfilled()) {
                  propertyUrls = propertyUrls.concat(inspection.value());
                }
              });
            })
            .then(function() {
              return extractPagesPromisify(location, 'sold')
            })
            .then(function(numPages) {
              for (var i = 1; i <= numPages + 1; i++) {
                promises.push(extractListingsPromisify(i, location, 'sold'));
              }

              return Bluebird.all(promises.map(function(promise) {
                return promise.reflect();
              }))
              .each(function(inspection) {
                if (inspection.isFulfilled()) {
                  propertyUrls = propertyUrls.concat(inspection.value());
                }
              });
            })
            .then(function() {
              return Bluebird.reduce(propertyUrls, function(_, propertyUrl) {
                return extractPromisify(propertyUrl, location, filePath);
              }, null);
            })
            .then(function() {
              win.loadURL('file://' + __dirname + '/output.jade');
              $.unblockUI();
            })
            .catch(function(err) {
              alert('An error occurred: ' + err);
            });
          });
        });
      });
    })(window, jQuery);
